@tailwind base;
@tailwind components;
@tailwind utilities;



.transparent-container {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
  }
  
  .transparent-container::-webkit-scrollbar {
    width: 0; /* Hide scrollbar by default */
  }
  
  .transparent-container:hover::-webkit-scrollbar {
    width: 3px; /* Show thin scrollbar on hover */
  }
  
  .transparent-container::-webkit-scrollbar-track {
    background: transparent; /* Transparent track background */
  }
  
  .transparent-container::-webkit-scrollbar-thumb {
    background: rgba(192, 192, 192, 0.5); /* Very light scrollbar thumb color */
    border-radius: 3px; /* Rounded corners for the scrollbar thumb */
  }
  
/* Glow Border Animation */
.animated-border-button {
  position: relative;
  display: inline-block;
  padding: 10px 18px;
  font-size: 16px;
  color: white;
  background: #ffffff; /* Background color */
  border: none;
  border-radius: 10px; /* Border Radius */
  cursor: pointer;
  z-index: 0;
  overflow: hidden;
}

.animated-border-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 99999px;
  height: 99999px;
  background-image: conic-gradient(rgba(0, 0, 0, 0), #1976ed, rgba(0, 0, 0, 0) 25%);
  transform: translate(-50%, -50%) rotate(0deg);
  border-radius: inherit;
  z-index: -2;
  animation: rotate 4s linear infinite;
}

.animated-border-button:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #292a2e; /* Background color */
  border-radius: 7px;
  z-index: -1;
}

.animated-border-button:hover:before {
  filter: blur(20px); /* Glow Blur on hover */
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
